.button-container {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 45px;
    right: 270px;
}
.data-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 100px;
}
.img-item {
    width: 420px;
    height: 565px;
    background-color: gray;
}
.data-item {
    width: 500px;
}

@media screen and (max-width:541px) {

}

