:root {

}

.logo-item {
    font-size: 48px;
    text-align: center;
    margin: 50px 0;
    font-weight: 700;
}
.box-container {
    display: flex;
    position: absolute;
    top: 80px;
    right: 370px;
    gap: 30px;
    font-size: 10px;
    font-weight: 600;
}
.text-item {
    width: 800px;
    margin: 0 auto;
}
.genre-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 80px;
}
.genre-item {
    min-width: 220px;
    height: 270px;
    background-color: #ddd;
    text-align: center;
}
.random-item {
    width: 580px;
    height: 130px;
    margin: 100px auto;
    background-color: #000;
}

@media screen and (max-width:541px) {
    .logo-item {
        font-size: 36px;
        margin: 40px 0;
        font-weight: 600;
    }
    .box-container {
        top: 80px;
        right: 20px;
        gap: 10px;
        font-weight: 500;
    }
    .text-item {
        width: 350px;
    }
    .genre-container {
        margin: 70px 0;
        gap: 42px;
    }
    .genre-item {
        min-width: 90px;
        height: 130px;
    }
    .random-item {
        width: 210px;
        height: 60px;
        margin: 0 auto;
    }
}